@{
    ViewData["Title"] = "Home Page";
}
@if (!string.IsNullOrWhiteSpace(ViewBag.mensaje))
{
    <div class="alert alert-danger">
        @ViewBag.mensaje
    </div>
}




<div style="display: flex; justify-content: center; align-items: center; height: 75vh;">
    <div style="
        background-color: #e8f5e9;
        padding: 50px 70px;
        border-radius: 20px;
        box-shadow: 0 10px 25px rgba(56, 142, 60, 0.2);
        text-align: center;
        max-width: 600px;
    ">
        <h1 style="color: #2e7d32; font-size: 38px; margin-bottom: 20px;">
            Bienvenido 
        </h1>
        <h2 style="color: #2e7d32; font-size: 22px; font-weight: bold; line-height: 1.5; display: flex; align-items: center;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            fill="#2e7d32" viewBox="0 0 24 24" style="margin-right: 8px;">

                <path d="M12 12c2.7 0 5-2.3 5-5s-2.3-5-5-5-5 2.3-5 5 2.3 5 5 5zm0 2c-3.3 0-10 1.7-10 5v3h20v-3c0-3.3-6.7-5-10-5z" />
            </svg>
            @Context.Session.GetString("correo")
        </h2>
        
        <p style="color: #4caf50; font-size: 18px; line-height: 1.5;">
            Estás ingresando al sistema de vuelos.<br />
            Esperamos que tengas una experiencia agradable y ágil ✈️💼
        </p>
    </div>
</div>


