
<h1>LOGIN</h1>
<form method="post">
<label>Ingrese Correo</label>
    <input type="text" name="correo" value="alejandrapresentado@gmail.com" />
<label>Ingrese Contraseña</label>
    <input type="password" name="contrasenia" value="contraseña6" />
<button type="submit">Ingresar</button>
</form>
<p>@ViewBag.Mensje</p>